PORT=8787
NODE_ENV=development
ADMIN_UI_ORIGIN=http://localhost:5173

DB_HOST=50.6.53.147
DB_PORT=3306
DB_USER=efpwpnmy_rugcrpadm
DB_PASS=Developer#!@0055!#
DB_NAME=efpwpnmy_rugcorporate

SESSION_TTL_HOURS=8
SESSION_COOKIE_NAME=rc_admin_session
SESSION_SECRET=change_this_to_long_random_secret


# HDFC Vyapar Demo (replace with real keys later)
VITE_HDFC_VYAPAR_API_KEY=hdfc_demo_key_2026
VITE_HDFC_VYAPAR_MERCHANT_ID=HDFC_DEMO_MERCHANT
VITE_HDFC_VYAPAR_MERCHANT_UPI=rugcircle.demo@hdfcbank
VITE_HDFC_VYAPAR_API_BASE_URL=https://api.hdfcbank.com/vyapar/sandbox
